<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="kr/or/ddit/db/mybatis/db.properties" ></properties>
    <typeAliases>
        <typeAlias alias="userVo" type="kr.or.ddit.user.model.UserVO"/>
        <typeAlias alias="pageVo" type="kr.or.ddit.util.model.PageVO"/>
        <typeAlias alias="pageVo" type="kr.or.ddit.attach.model.AttachVO"/>
        <typeAlias alias="pageVo" type="kr.or.ddit.board_class.model.Board_classVO"/>
        <typeAlias alias="pageVo" type="kr.or.ddit.board_detail.model.Board_detailVO"/>
        <typeAlias alias="pageVo" type="kr.or.ddit.reply.model.ReplyVO"/>
    </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/or/ddit/db/mybatis/mapper/user.xml"/>
  </mappers>
</configuration>